<div class="coursefeedback_star-rating" style="font-size: {{size}}px;">
    <div class="coursefeedback_star-background">
        &#9733;&#9733;&#9733;&#9733;&#9733;
    </div>
    <div class="coursefeedback_star-foreground" style="width: {{percentage}}%;">
        &#9733;&#9733;&#9733;&#9733;&#9733;
    </div>
</div>